<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>à</string>
		<key>shortcut</key>
		<string>aa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>abbandonò</string>
		<key>shortcut</key>
		<string>abbandonoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>andrà</string>
		<key>shortcut</key>
		<string>andraa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>arrivò</string>
		<key>shortcut</key>
		<string>arrivoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>attività</string>
		<key>shortcut</key>
		<string>attivita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>avrà</string>
		<key>shortcut</key>
		<string>avra</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>biodiversità</string>
		<key>shortcut</key>
		<string>biodiversitaa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>caffè</string>
		<key>shortcut</key>
		<string>caffe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>capacità</string>
		<key>shortcut</key>
		<string>capacita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>c'è</string>
		<key>shortcut</key>
		<string>cee</string>
	</dict>
  <dict>
    <key>phrase</key>
    <string>chissà</string>
    <key>shortcut</key>
    <string>chissa</string>
  </dict>
	<dict>
		<key>phrase</key>
		<string>ciò</string>
		<key>shortcut</key>
		<string>cio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cioè</string>
		<key>shortcut</key>
		<string>cioe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>civiltà</string>
		<key>shortcut</key>
		<string>civilta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>comunità</string>
		<key>shortcut</key>
		<string>comunita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cos'è</string>
		<key>shortcut</key>
		<string>cosee</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>così</string>
		<key>shortcut</key>
		<string>cosii</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dà</string>
		<key>shortcut</key>
		<string>daa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dichiarò</string>
		<key>shortcut</key>
		<string>dichiaroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>difficoltà</string>
		<key>shortcut</key>
		<string>difficolta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>disonestà</string>
		<key>shortcut</key>
		<string>disonestaa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dispiacerà</string>
		<key>shortcut</key>
		<string>dispiaceraa</string>
	</dict>
  <dict>
    <key>phrase</key>
    <string>disponibilità</string>
    <key>shortcut</key>
    <string>disponibilita</string>
  </dict>
	<dict>
		<key>phrase</key>
		<string>diventò</string>
		<key>shortcut</key>
		<string>diventoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dovrà</string>
		<key>shortcut</key>
		<string>dovra</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dovrò</string>
		<key>shortcut</key>
		<string>dovro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>destra</string>
		<key>shortcut</key>
		<string>dx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>è</string>
		<key>shortcut</key>
		<string>ee</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>entrò</string>
		<key>shortcut</key>
		<string>entroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>età</string>
		<key>shortcut</key>
		<string>eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>facilità</string>
		<key>shortcut</key>
		<string>facilita</string>
	</dict>
  <dict>
    <key>phrase</key>
    <string>farà</string>
    <key>shortcut</key>
    <string>fara</string>
  </dict>
	<dict>
		<key>phrase</key>
		<string>farò</string>
		<key>shortcut</key>
		<string>faroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>felicità</string>
		<key>shortcut</key>
		<string>felicita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>finchè</string>
		<key>shortcut</key>
		<string>finche</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>finirò</string>
		<key>shortcut</key>
		<string>finiroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>già</string>
		<key>shortcut</key>
		<string>gia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>giovedì</string>
		<key>shortcut</key>
		<string>giovedi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>giù</string>
		<key>shortcut</key>
		<string>giu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>guardò </string>
		<key>shortcut</key>
		<string>guardoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>igienicità</string>
		<key>shortcut</key>
		<string>igienicita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ì</string>
		<key>shortcut</key>
		<string>ii</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>imparzialità</string>
		<key>shortcut</key>
		<string>imparzialita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>incapacità</string>
		<key>shortcut</key>
		<string>incapacita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>inizierò</string>
		<key>shortcut</key>
		<string>iniziero</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>iniziò</string>
		<key>shortcut</key>
		<string>inizioo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>invitò</string>
		<key>shortcut</key>
		<string>invitoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>là</string>
		<key>shortcut</key>
		<string>laa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lasciò</string>
		<key>shortcut</key>
		<string>lascioo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>libertà</string>
		<key>shortcut</key>
		<string>liberta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lunedì</string>
		<key>shortcut</key>
		<string>lunedi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>martedì</string>
		<key>shortcut</key>
		<string>martedi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>maturità</string>
		<key>shortcut</key>
		<string>maturita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mentalità</string>
		<key>shortcut</key>
		<string>mentalita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mercoledì</string>
		<key>shortcut</key>
		<string>mercoledi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>metà</string>
		<key>shortcut</key>
		<string>metaa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>modernità</string>
		<key>shortcut</key>
		<string>modernita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mostrò</string>
		<key>shortcut</key>
		<string>mostroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nazionalità</string>
		<key>shortcut</key>
		<string>nazionalita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>necessità</string>
		<key>shortcut</key>
		<string>necessitaa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nè</string>
		<key>shortcut</key>
		<string>nee</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>oggettività</string>
		<key>shortcut</key>
		<string>oggettivita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ò</string>
		<key>shortcut</key>
		<string>oo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>parità</string>
		<key>shortcut</key>
		<string>parita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>partirò</string>
		<key>shortcut</key>
		<string>partiro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>perché</string>
		<key>shortcut</key>
		<string>perche</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>perché</string>
		<key>shortcut</key>
		<string>perchee</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>però</string>
		<key>shortcut</key>
		<string>peroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>perseguirò</string>
		<key>shortcut</key>
		<string>perseguiroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>più</string>
		<key>shortcut</key>
		<string>piu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>poiché</string>
		<key>shortcut</key>
		<string>poiche</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>possibilità</string>
		<key>shortcut</key>
		<string>possibilita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>potè</string>
		<key>shortcut</key>
		<string>pote</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>professionalità</string>
		<key>shortcut</key>
		<string>professionalita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>proprietà</string>
		<key>shortcut</key>
		<string>proprieta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>può</string>
		<key>shortcut</key>
		<string>puo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>qualità</string>
		<key>shortcut</key>
		<string>qualita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>realtà</string>
		<key>shortcut</key>
		<string>realta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>relatività</string>
		<key>shortcut</key>
		<string>relativita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>rilasciò</string>
		<key>shortcut</key>
		<string>rilascioo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>rimarrò</string>
		<key>shortcut</key>
		<string>rimarroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>riuscirà</string>
		<key>shortcut</key>
		<string>riusciraa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sarà</string>
		<key>shortcut</key>
		<string>saraa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sarò</string>
		<key>shortcut</key>
		<string>saro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>seguì</string>
		<key>shortcut</key>
		<string>seguii</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>seguirò</string>
		<key>shortcut</key>
		<string>seguiroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sì</string>
		<key>shortcut</key>
		<string>sii</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sincronizzerà</string>
		<key>shortcut</key>
		<string>sincronizzera</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>società</string>
		<key>shortcut</key>
		<string>societa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>starò</string>
		<key>shortcut</key>
		<string>staroo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>studiò</string>
		<key>shortcut</key>
		<string>studioo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sussidiarietà</string>
		<key>shortcut</key>
		<string>sussidiarieta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sviluppò</string>
		<key>shortcut</key>
		<string>sviluppoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>svolgerà</string>
		<key>shortcut</key>
		<string>svolgera</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>svolgerò</string>
		<key>shortcut</key>
		<string>svolgero</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sinistra</string>
		<key>shortcut</key>
		<string>sx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>terrà</string>
		<key>shortcut</key>
		<string>terraa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>~</string>
		<key>shortcut</key>
		<string>tilde</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tornerò</string>
		<key>shortcut</key>
		<string>tornero</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>trovò</string>
		<key>shortcut</key>
		<string>trovoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>unità</string>
		<key>shortcut</key>
		<string>unitaa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>università</string>
		<key>shortcut</key>
		<string>universita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>utilizzò</string>
		<key>shortcut</key>
		<string>utilizzoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ù</string>
		<key>shortcut</key>
		<string>uu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vagò</string>
		<key>shortcut</key>
		<string>vagoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>velocità</string>
		<key>shortcut</key>
		<string>velocita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>venerdì</string>
		<key>shortcut</key>
		<string>venerdi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>verità</string>
		<key>shortcut</key>
		<string>verita</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>verrà</string>
		<key>shortcut</key>
		<string>verra</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>volontà</string>
		<key>shortcut</key>
		<string>volonta</string>
	</dict>
</array>
</plist>
